# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# TensorFlow / ML Models
*.h5
*.keras
*.tflite
*.ckpt

# Datasets - local only
datasets/raw/
datasets/processed/
datasets/train/
datasets/validation/
datasets/test/

# Generated dataset reports / review images
datasets/reports/clean_dataset_log.csv
datasets/reports/*.jpg

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Environment
.env