# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# TensorFlow Models
*.h5
*.keras
*.tflite
*.ckpt

# Dataset
datasets/raw/
datasets/processed/
datasets/train/
datasets/validation/
datasets/test/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Environment
.env
# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# Cleaned/generated datasets
datasets/processed/
datasets/raw/

# Generated dataset reports/logs
datasets/reports/clean_dataset_log.csv

# Generated image review files
datasets/reports/*.jpg

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db